<body>
    <div class="about">
        <div class="row-name">
            <div class="name">
                <div class="col-md-3 col-sm-3 col-3 text-end">
                    <h1>Contact Us</h1>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3 text-end">
                <span class="info-circle"></span> 
                <div class="data">
                    <h1>Here are some of the frequently asked questions!</h1>
                    <span class="question" *ngFor="let question of questions">
                        <div class="quest">
                            {{ question.question }}
                        </div>
                        
                    

                    </span> 
                </div>             
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <div class="image-container">
                    <img src= "\assets\img\customer service.png" alt="Call center vector image">   
                </div>
            </div>
        </div>
    </div>
</body>

