<body>
    <div class="about">
        <div class="row-name">
            <div class="name">
                <div class="col-md-3 col-sm-3 col-3 text-end">
                    <h1>Contact Us</h1>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3 text-end">
                <span class="info-circle"></span>              
                <h1>Use this page to let us know of any conflicts, satisfactions, complaints, and recommendation</h1>
                <span class="questions">
                    <mat-icon>home</mat-icon>
                    <div class="fa-solid fa-plus fa-2xs" id="add"></div>
                </span><br><br><br>
                <span class="questions"></span><br><br><br>
                <span class="questions"></span><br><br><br>
                <span class="questions"></span><br><br><br>  
                <span class="questions"></span><br><br><br>
                <span class="questions"></span><br><br><br>
                <span class="questions"></span>
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <div class="image-container">
                    <img src= "\assets\img\customer service.png" alt="Call center vector image">   
                </div>
            </div>
        </div>
    </div>
</body>

