body {   
    background-color: #c9cece; 
}

.logo{
    padding: 0px 16px;
    padding-top: 2px;
    cursor: pointer;
}

.card-container{
    background-color: #f0ffff;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0ffff;
}

.navigation li {
    float: right;
}

.navigation li a {
    display: inline-block;
    color: rgb(14, 164, 233);
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
}

.nav-buttons:hover{
    transform: translateY(-0.25rem);
    text-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.circle-link, .location, .nav-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
    color: rgb(14, 164, 233);
}

.circle-link:hover, .location:hover{
    transform: translateY(-0.90rem);
    text-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.social-links li a, .location-link li a {
    text-decoration: dashed;
    padding: 20px;
}

.footer ul {
    align-items: center;   
    justify-content: center;
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #f0ffff;
    display: inline-flex;
    width: 100%;
}


