<body>

    <div class="home">
        <div class="row-img">
            <div class="img-row">
                <div class="img-container">
                   <img src= "\assets\img\Ironing.jpg" width="100%">   
                </div>
                <div class="background-img"></div>
                
            </div>
        </div> 
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3 text-end">
                <div class="image-container">
                   <img src= "\assets\img\steralising.jpg" width="50%">   
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <div class="image-data">
                    <span class="circle"></span>
                    <div class="data">
                        <ul>
                            <h1>Household maintenance</h1>
                            <li>This includes: 
                                <ol>
                                    <li>Cleaning the floor</li>
                                    <li>Washing the mats if need be</li>
                                    <li>Cleaning windows</li>
                                    <li>Cleaning amenities eg. toilets and sinks</li>
                                </ol>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> 
        <div class="row-l">
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <div class="image-data-l">
                    <span class="circle-l"></span>
                    <div class="data-1">
                        <ul>
                            <h1>Care for children</h1>
                            <li>This includes: 
                                <ol>
                                    <li>Feeding child as instructed</li>
                                    <li>Bathing the child</li>
                                    <li>walking outside</li>
                                    <li>Making child’s food as instructed</li>
                                </ol>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-3 text-end">
                <div class="image-container-l">
                   <img src= "\assets\img\cooking.jpg" width="50%">   
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3 text-end">
                <div class="image-container">
                   <img src= "\assets\img\utensils.jpg" width="50%">   
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <div class="image-data">
                    <span class="circle"></span>
                    <div class="data-2">
                        <ul>
                            <h1>Kitchen work</h1>
                            <li>This includes: 
                                <ol>
                                    <li>Washing Utensils</li>
                                    <li>Cooking </li>
                                    <li>Cleaning kitchen surfaces</li>
                                    <li>Cleaning kitchen floor</li>
                                    <li>Serve food if need be</li>
                                </ol>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> 
        <div class="row-l">
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <div class="image-data-l">
                    <span class="circle-l"></span>
                    <div class="data-3">
                        <ul>
                            <h1>Laundry</h1>
                            <li>This includes: 
                                <ol>
                                    <li>Washing clothes</li>
                                    <li>Washing dirty shoes</li>
                                    <li>Ironing</li>
                                    <li>folding</li>
                                </ol>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-3 text-end">
                <div class="image-container-l">
                   <img src= "\assets\img\laundry.jpg" width="50%">   
                </div>
            </div>
        </div>
        <div class="row-name">
                <div class="name">
                    <div class="col-md-3 col-sm-3 col-3 text-end">
                        <h1>Work Groupings</h1>
                    </div> 
                </div>
        </div>
        <div class="info-row">          
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <div class="info-data">
                    <span class="info-circle-1"></span>
                    <div class="data-4">
                        <ul>
                            <h1>Deep Cleaning</h1>
                            <li>Deep cleaning typically takes longer than a regular cleaning, 
                                especially if you schedule a deep cleaning for your entire home. 
                                It involves lots of detail work, which takes more effort.

                                <ol>
                                    <li>Cleaning under furniture</li>
                                    <li>Wiping down ceiling fans and light fixtures</li>
                                    <li>Cleaning blinds</li>
                                    <li>Dusting individual decorations</li>
                                    <li>Sanitizing surfaces</li>
                                    <li>Dusting lamp shades</li>
                                    <li>Cleaning baseboards, window frames, and door frames</li>
                                    <li>Cleaning inside window sills and window tracks</li>
                                    <li>Cleaning behind and under appliances</li>
                                    <li>Cleaning inside appliances, including your oven, refrigerator, and microwave</li>
                                </ol>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <div class="info-data">
                    <span class="info-circle-2"></span>
                    <div class="data-5">
                        <ul>
                            <h1>Regular Cleaning</h1>
                            <li>Regular cleaning usually happens on a weekly basis. The goal is to keep up with basic cleaning tasks.
                                <br>Typical tasks that happen during this service include:
                                <ol>
                                    <li>Tidying up your spaces</li>
                                    <li>Cleaning floors</li>
                                    <li>Wiping surfaces in kitchens and bathrooms</li>
                                    <li>Taking out the trash</li>
                                    <li>General dusting</li>
                                </ol>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</body>


