<!--Navigation-->
<div class="navigation">
  <ul>
    <img
      class="logo"
      width="95"
      alt="Global Domestic Workers Logo"
      src="\assets\img\logo1.0.png"
    />

    <li><a class="nav-buttons" href="#contact">Contact us</a></li>
    <li><a class="nav-buttons" href="#about">About us</a></li>
    <li><a class="nav-buttons" href="#news">Domestic workers</a></li>
    <li><a class="nav-buttons" href="#home">Home</a></li>
    
  </ul>
</div>

<!--Footer-->

<div class="footer">
  <ul>
    <div>
      <img
        class="logo"
        width="195"
        alt="Global Domestic Workers Logo"
        src="\assets\img\logo1.0.png"
      />
    </div>
    <div class="social-links">
      <ul>
          <div>
            <li>
              <a class="circle-link" title="Find us on Instagram" href="https://www.instagram.com/global_domestic_workers/" target="_blank">
                <img width= "55" src="\assets\img\Instagram-logo.png" alt="Instagram logo">
                global_domestic_workers
            </a>
            </li>
          </div>
          <div>
            <li>
              <a class="circle-link" title="Find us on Whatsapp" href="https://web.Whatsapp.com/" target="_blank">
                <img width= "60" src="\assets\img\whatsapp-logo.png" alt="Whatsapp logo">
                0702938809/0741583626
              </a>
            </li>
          </div>
          <div>
            <li>
              <a class="circle-link" title="Find us on Facebook" href="https://web.facebook.com/globaldomesticworkers" target="_blank">
                <img width= "55" src="\assets\img\facebook-logo.png" alt="Facebook logo">
                Global Domestic Workers
              </a>
            </li> 
          </div>      
      </ul>
    </div>
    <div class="location-link">
      <ul>
        <li>
          <a class="location" title="Find us on the map" href="https://goo.gl/maps/qBi7FMpBWAWM3DgP7" target="_blank">
            <img width= "55" src="\assets\img\location.png" alt="Location icon">
            Fedha, Embakasi 
            <br>
            Nairobi, Kenya
          </a>
        </li> 
      </ul>
    </div>
  </ul>
</div>


  
