<body>
    <div class="about">
        <div class="row-name">
                <div class="name">
                    <div class="col-md-3 col-sm-3 col-3 text-end">
                        <h1>About Us</h1>
                    </div> 
                </div>
        </div>
        <div class="info-row">          
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <div class="info-data-1">
                    <span class="info-circle-1"></span>
                    <div class="data-1">
                        <ul>
                            <h2>Who are we?</h2>
                            <li>
                                We are a well-established agency providing superior customer service by sourcing and supplying well-trained domestic maids.
                                <br><br>
                                We have our own training centres in utawala and Thika.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="info-data-3">
                    <span class="info-circle-3"></span>
                    <div class="data-3">
                        <ul>
                            <h2>Who we target!</h2>
                            <li>
                                Are you a domestic helper?
                                <br><br>
                                Are you looking for a domestic helper or is your family in need of a new maid?
                                <br><br>
                                Look no further, here at Global Domestic Workers we`ll help you find the most suitable helper for you and your family.     
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <div class="info-data-2">
                    <span class="info-circle-2"></span>
                    <div class="data-2">
                        <ul>
                            <h2>Why choose us?</h2>
                            <li>
                                With our experience and knowledge in this field, we are able to identify and assess excellent candidates relevant to our clients. 
                                <br><br>
                                Specific needs such as care for the newborn baby, young children and elderly folks, sick or disabled family member. 
                                <br><br>
                                We strive to provide the most suitable maid to our clients, thereby enriching their family and work lives.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="image-container">
                    <img src= "\assets\img\multitask.jpg" width="50%">   
                 </div>
            </div> 
        </div> 
    </div>
</body>


